@import '../../styles/variables.scss';

.slideshowSection {
  position: relative;
  width: 86vw;
  height: 41vh;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.slideImage {
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.portrait {
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  @media (max-width: 600px) {
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
  }
}

.landscape {
  width: auto;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  @media (max-width: 600px) {
    width: auto;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
  }
}

.navButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 19vh;
  transform: translateY(-50%);
  // width: 10vw;
  // height: 6.5vh;
  padding: 10px;
  overflow: hidden;
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); // Semi-transparent black background for better visibility
  border-radius: 8px;
  @media (max-width: 600px) {
    padding: 5px;
    border-radius: 4px;
  }
}
.backButton {
  left: 1vw;
  &:focus-within {
    outline: 4px solid $main-color;
  }
}
.forwardButton {
  right: 1vw;
  &:focus-within {
    outline: 4px solid $main-color;
  }
}
.arrowIcon {
  width: auto;
  height: 7.8vh;
  @media (max-width: 600px) {
    height: 3.9vh;
  }
}

.overlayText {
  position: absolute;
  bottom: 1vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); // Semi-transparent black background for better visibility
  padding: 0.5vw;
  color: $light;
  font-size: 1.125em;
  font-weight: 500;
  border-radius: 8px;
  @media (max-width: 600px) {
    font-size: 0.75em;
    border-radius: 4px;
  }
}
