@import '../../styles/variables.scss';

.logementSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
  @media (max-width: 600px) {
    gap: 15px;
    margin-bottom: 10px;
  }
}

.collapsibleSection {
  display: flex;
  flex-direction: row;
  width: 86vw;
  gap: 76px;
  margin: auto;
  @media (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
    gap: 0px;
  }
}

.infoSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 86vw;
  height: auto;
  margin: auto;
  @media (max-width: 600px) {
    flex-direction: column;
    gap: 20px;
  }
}

.infoContainer1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.infoContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 600px) {
    flex-direction: row-reverse;
    align-items: center;
  }
}
