@import '../../styles/variables.scss';

.aProposBanner {
  width: 86vw;
  height: 223px;
  position: absolute;
  left: 7vw;
  border-radius: 16px;
  background-color: $a-propos-banner-darken;
  @media (max-width: 600px) {
    height: 111px;
  }
}

.collapsibleSection {
  width: 71vw;
  margin: auto;
  box-sizing: border-box;
   @media (max-width: 600px) {
    width: 86vw;
  }
}
