@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  width: 100vw;
  height: 100vh;
  gap: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: $main-bg-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: $dark;
  text-decoration: inherit;
}
a:hover {
  color: $dark;
  text-decoration: underline;
}

body {
  min-width: 320px;
  height: auto;
  padding-top: 40px;
  padding-left: 5vw;
  padding-right: 5vw;
  box-sizing: border-box;
  @media (max-width: 600px) {
    padding-top: 20px;
  }
}
