$dark: hsla(0, 0%, 0%, 1);
$light: hsla(0, 0%, 100%, 1);
$grey: hsla(0, 0%, 97%, 1);
$light-grey: #FBFBFB;
$main-color: hsla(0, 100%, 69%, 1);
$main-bg-color: hsla(0, 0%, 100%, 1);
$home-banner-darken: hsla(0, 0%, 0%, 0.6);
$a-propos-banner-darken: hsla(0, 0%, 0%, 0.3);
$card-darken:hsla(0, 0%, 0%, 0.5);