@import '../../styles/variables.scss';

.homeBanner {
  width: 86vw;
  height: 223px;
  left: 7vw;
  position: absolute;
  border-radius: 16px;
  background-color: $home-banner-darken;
  @media (max-width: 600px) {
    height: 111px;
  }
}

h1 {
  margin: 0;
  height: 223px;
  font-size: 3em;
  font-weight: 700;
  color: $light;
  opacity: 1;
  display: flex;
  padding-left: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  @media (max-width: 600px) {
    justify-content: start;
    text-align: left;
    height: 100px;
    font-size: 1.5em;
  }
}

.gallery {
  width: 86vw;
  margin: auto;
  display: grid;
  padding: 3.7vw;
  gap: 3.7vw;
  margin-bottom: 3.5vh;
  background-color: $grey;
  border-radius: 25px;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 600px) {
    background-color: $light;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1.75vh;
    margin-bottom: 1.75vh;
    padding: 0px;
    gap: 22px;
  }
}
