@import '../../styles/variables.scss';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1 / 1; // This makes the card a square
  &:focus-within {
    outline: 4px solid $main-color;
  }

  img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }

  .imgGradient {
    position: absolute;
    background: linear-gradient(
      to bottom,
      hsla(0, 0%, 100%, 0) 0%,
      hsla(0, 0%, 4%, 0) 50%,
      hsla(0, 0%, 1%, 0.41) 75%,
      hsla(0, 0%, 0%, 1) 100%
    );
    top: 0;
    width: 100%;
    height: 100%;
  }

  .textContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 20%;

    h2 {
      margin: 0;

      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-weight: 700;
      font-size: 1.125em;
      color: $light;
      padding: 0 16px;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
