@import '../../styles/variables.scss';

.collapsibleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  box-sizing: border-box;
  overflow: hidden;
  @media (max-width: 600px) {
    margin-bottom: 19px;
  }

  &.open {
    margin-bottom: 25px;

    @media (max-width: 600px) {
      margin-bottom: 14px;
    }
  }
}

.collapsible {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $main-color;
  padding: 10px 20px 10px 15px;
  border-radius: 5px;
  width: 100%;
  height: 52px;
  @media (max-width: 600px) {
    height: 30px;
    padding: 10px;
  }
}

.collapsibleTitle {
  color: $light;
  font-size: 1.5em;
  @media (max-width: 600px) {
    font-size: 0.8125em;
  }
}

.collapsibleButton {
  display: flex;
  position: relative;
  z-index: 0;
  cursor: pointer;
  border-radius: 5px;
  background: none;
  border: none;
  appearance: none; /* Remove default button styling in Firefox */
  -webkit-appearance: none; /* Remove default button styling in Safari/Chrome */
  &:focus-visible,
  :focus-within {
    outline: 3.5px solid $light;
  }
}
.arrow {
  width: 32px;
  transition: transform 0.2s ease-in-out;
  @media (max-width: 600px) {
    width: 16px;
  }
}

.arrow.open {
  transform: rotate(-180deg);
}

.content {
  position: relative;
  z-index: -1;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0px;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  background-color: $grey;
  border-radius: 5px;
  font-size: 1em;
  @media (max-width: 600px) {
    font-size: 0.542em;
  }
}

.content.visible {
  max-height: 300px;
  overflow-y: auto;
  padding: 15px 10px 10px 10px;
  opacity: 1;
  transform: translateY(-5px); /* No translation when open */
  ul {
    list-style-type: none;
  }

  li {
    list-style-type: none;
    margin-bottom: 5px;
  }
}

.content.collapsed {
  transform: translateY(-50px); /* Move upwards a bit when closed */
}

.innerContent {
  width: 100%;
  padding: 20px;
}
