@import '../../styles/variables.scss';

h1 {
  margin: 0; 
  padding: 0; 
  height: auto;
}

.titleLocationContainer {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  h1 {
    font-size: 2.25em;
    font-weight: 500;
    padding-bottom: 7px;
    color: $main-color;
    @media (max-width: 600px) {
      font-size: 1.125em;
    }
  }
  p {
    font-size: 1.125em;
    @media (max-width: 600px) {
      font-size: 0.875em;
    }
  }
}
