@import "../../styles/variables.scss";

header {
    width: 90vw;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 45px;
    @media (max-width: 600px){
        height: 46.88px;
        margin-bottom: 22px;
    }
}

.logo {
    height: 68px;
    @media (max-width: 600px){
        height: 46.88px;
    }
}

.links {
    display: flex;
    align-items: center;
    gap: 5vw;
    text-align: center;
    @media (max-width: 600px){
        height: 46.88px;
        font-size: 12px;
        text-transform: uppercase;
    }
}
