@import '../../styles/variables.scss';

.errorSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 40px 0 139px 0;
  width: 86vw;
  gap: 139px;
  @media (max-width: 600px) {
    padding: 20px 0 113px 0;
    gap: 113px;
  }
}

.errorTitle {
  color: $main-color;
  font-size: 18em;
  text-align: center;
  @media (max-width: 600px) {
    font-size: 6em;
  }
}

.errorText {
  color: $main-color;
  font-size: 2.25em;
  font-weight: 500;
  text-align: center;
  width: 100%;
  @media (max-width: 600px) {
    width: 81%;
    font-size: 1.125em;
  }
}

.link {
  display: flex;
  justify-content: center;
  font-size: 1.125em;
  text-decoration: underline;
  text-align: center;
  @media (max-width: 600px) {
    font-size: 0.875em;
  }
}
